[user]
    npinto = Nicolas Pinto
    name = Nicolas Pinto
    email = pinto@mit.edu
[alias]
    ci = commit
    cim = commit -m
    cimna = commit -m \"na\"
    co = checkout
    datetag = !git tag `date \"+%Y%m%d%H%M\"`
