[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:npinto/oh-my-zsh.git
[submodule "external/jtriley"]
	path = external/jtriley
	url = https://github.com/jtriley/dotfiles
[submodule "vim/.vim/pathogen"]
	path = vim/.vim/pathogen
	url = https://github.com/tpope/vim-pathogen
