.ipython/db/
.ipython/history
*.sqlite
.config/ipython/old/db
.config/ipython/old/history
.config/ipython/profile_default/db/*
.config/ipython/Crash_report_ipython.txt
.config/ipython/profile_default/security/*
.ipython/profile_default/db/dhist
